main {
  background-color: #282c34;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.standout {
  box-shadow: 5px 5px goldenrod;
}

h1,
h2,
h3,
h4,
h5,
p {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.875rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 0.7rem;
  margin-bottom: 1.25rem;
}

@media screen and (min-width:600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  p{
    font-size: 0.75rem;
  }

  .card-collection {
    display: grid;
    grid-template-columns: ifr ifr;
  }
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

p{
  font-size: 0.875rem;
}

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

p{
  font-size: 0.875rem;
}

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .card-collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

}